/* Footer positioning */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

/* Sponsor logo theme switching */
[data-bs-theme="light"] .sponsor-logo-dark {
    display: none;
}
[data-bs-theme="light"] .sponsor-logo-light {
    display: inline-block;
}
[data-bs-theme="dark"] .sponsor-logo-light {
    display: none;
}
[data-bs-theme="dark"] .sponsor-logo-dark {
    display: inline-block;
}