{% extends "base.html" %}


{% macro render_tree(tree, parent_path='', collapse_id='root') %}
    <ul class="list-group">
    {% for item in tree %}
        {% if item.type == 'folder' %}
            {% set this_id = collapse_id ~ '-' ~ loop.index %}
            <li class="list-group-item">
                <a data-bs-toggle="collapse" href="#{{ this_id }}" role="button" aria-expanded="false" aria-controls="{{ this_id }}">
                    📁 {{ item.name }}
                </a>
                <div class="collapse ms-3" id="{{ this_id }}">
                    {{ render_tree(item.children, parent_path ~ item.name ~ '/', this_id) }}
                </div>
            </li>
        {% else %}
            <li class="list-group-item">
                <a href="{{ url_for('static', filename='uploads/problems/' ~ item.path) }}" target="_blank">
                    📄 {{ item.name }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
<div class="container mt-5">
    <h1>Problems</h1>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Problem Sets</h2>
                </div>
                <div class="card-body">
                    {{ render_tree(problems_tree) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
